<div class="cls-form" [formGroup]="formUser" >
    <div>
        <h1>{{Boton == 'guardar' ?  'Nueva Solicitud':'Editar Solicitud'}}</h1>
         <hr> <br> <br>
    </div>
    <div class="cls-field">
        <mat-form-field  class="cls-field" appearance="outline" *ngIf="cant < 1">
            <mat-label>Solicitud Revision</mat-label>
            <input  [value]=" cant " matInput formControlName="IdRevision">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Propietario</mat-label>
            <mat-select matInput formControlName="idPropietario">
              <mat-option  *ngFor="let user of dataSourceP" [value]="user.Cedula">{{user.Nombre}} {{user.Apellidos}}</mat-option>              
            </mat-select>
          </mat-form-field> 

          <mat-form-field appearance="outline">
            <mat-label>Fecha</mat-label>
            <input  type="date" matInput formControlName="fecha">
          </mat-form-field>

    </div>
     <div class="cls-field">
      
      <!-- <mat-form-field class="cls-field" appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="Estado">
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select matInput formControlName="Estado">
          <mat-option   value="Pendiente">Pendiente</mat-option>
          <mat-option   value="Aprobado">Aprobado</mat-option>
          <mat-option   value="Rechazado">Rechazado</mat-option>
          
        </mat-select>
      </mat-form-field> 

     <!--  <mat-form-field appearance="outline">
        <mat-label>Nivel Aceite</mat-label>
        <input type="number" matInput formControlName="nivelaceite">
      </mat-form-field>
    </div>
   
    <div class="cls-field">
      
      <mat-form-field appearance="outline">
        <mat-label>Nivel Liquido Frenos</mat-label>
        <input  matInput formControlName="nivelliquidof">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nivel Liquido Refrigerante</mat-label>
        <input   matInput formControlName="nivelRefrigerante">
      </mat-form-field>

    </div>
   
    <div class="cls-field">
      
      <mat-form-field appearance="outline">
        <mat-label>Nivel Liquido Direccion</mat-label>
        <input  matInput formControlName="NivelLquidoDireccion">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input  type="date" matInput formControlName="fecha">
      </mat-form-field>
    </div>     -->

    <div class="cls-field">   
      
      <mat-form-field appearance="fill">
        <mat-label>Mecanico</mat-label>
        <mat-select matInput formControlName="mecanicoId">
          <mat-option  *ngFor="let user of dataSource" [value]="user.id">{{user.Nombre}} {{user.Apellidos}}</mat-option>
          
        </mat-select>
      </mat-form-field> 
      
      <mat-form-field appearance="fill">
        <mat-label>Vehiculo</mat-label>
        <mat-select matInput formControlName="Placa">
          <mat-option  *ngFor="let user of dataSourceV" [value]="user.Placa">{{user.Placa}}</mat-option>
          
        </mat-select>
      </mat-form-field> 

    </div> 
    </div> 
    <div class="cls-button">
      <button mat-raised-button (click)="saveUser()" *ngIf="Boton=='guardar'" >Guardar</button>
     
    </div>
    <div>
      <button mat-raised-button (click)="updatePropietario()" *ngIf="Boton=='editar'">Editar</button>
    </div> 
 