 <div class="cls-form" [formGroup]="formUser" >
    <div>
        <h1>{{Boton == 'guardar' ?  'Nuevo Propietario':'Editar Propietario'}}</h1>
         <hr> <br> <br>
    </div>
    <div class="cls-field">
      
      <mat-form-field class="cls-field" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="Nombre">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="Apellidos">
      </mat-form-field>
    </div>
   
    <div class="cls-field">
      
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input type="number" matInput formControlName="NumeroTelefono">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input  type="date" matInput formControlName="FechaNacimiento">
      </mat-form-field>

    </div>
   
    <div class="cls-field">
      
      <mat-form-field appearance="outline">
        <mat-label>Ciudad de Residencia</mat-label>
        <input  matInput formControlName="CiudadResidencia">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input  matInput formControlName="Correo">
      </mat-form-field>
    </div>    
    <div>

      <mat-form-field appearance="outline">
        <mat-label>Cedula</mat-label>
        <input type="number" matInput formControlName="Cedula">
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option *ngFor="let user of dataSource" [value]="user.Nombre">{{user.Nombre}}</mat-option>
          
        </mat-select>
      </mat-form-field>     

    </div> 
    <div class="cls-button">
      <button mat-raised-button (click)="saveUser()" *ngIf="Boton=='guardar'" >Guardar</button>
     
    </div>
    <div>
      <button mat-raised-button (click)="updatePropietario()" *ngIf="Boton=='editar'">Editar</button>
    </div>
  </div> 