
<div class="cls-contentpage">

    <h2>{{titulo}}</h2>    

    <br>
    <!-- <editor [nombre]="nombreUsuarioSeleccionado"
            (salidaCambionombre)="cambioNombreUsuario($event)" *ngIf="showform"></editor> -->
  <div style="display: flex; gap: 20px; ">
    <div class="cls-bonera-child">
        <mat-form-field appearance="outline">
            <mat-label>Cedula - Mecanido</mat-label>
            <input matInput [(ngModel)]="value">
        </mat-form-field>
        <!-- <input type="text" placeholder=""  [(ngModel)]="value"> -->
       
        <button  (click)="filtrar()" mat-raised-button color="primary">Filtrar</button>
    </div>
    <div class="cls-bonera-child">
      <mat-form-field appearance="outline">
          <mat-label>Placa</mat-label>
          <input matInput [(ngModel)]="valueV">
      </mat-form-field>
      <!-- <input type="text" placeholder=""  [(ngModel)]="value"> -->
     
      <button  (click)="filtrarP()" mat-raised-button color="primary">Filtrar</button>
  </div>
</div>

    <div>
    <button mat-button color="primary" (click)="changeShowForm();showBoton('guardar');openDialogAdd()">Agregar</button>
    </div><br>
   <!--  <button (click)="changeShowForm();showBoton('guardar');openDialogAdd()">Agregar</button>  -->       
  
    
      <div>
  
  
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <!-- <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element">  {{setFormat(element.fecha)}} </td>
          </ng-container> -->
        
          <!-- Name Column -->
          <ng-container matColumnDef="IdRevision">
            <th mat-header-cell *matHeaderCellDef> Id Revision </th>
            <td mat-cell *matCellDef="let element" > {{element.IdRevision}} </td>
          </ng-container>
        
          <!-- Weight Column --> 
          <ng-container matColumnDef="mecanicoId">
            <th mat-header-cell *matHeaderCellDef> Mecanico</th>
            <td mat-cell *matCellDef="let element"> {{element.mecanicoId}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
          </ng-container>

          <ng-container matColumnDef="idPropietario">
            <th mat-header-cell *matHeaderCellDef> Id Propietario </th>
            <td mat-cell *matCellDef="let element"> {{element.idPropietario}} </td>
          </ng-container>

          <ng-container matColumnDef="Placa">
            <th mat-header-cell *matHeaderCellDef> Placa </th>
            <td mat-cell *matCellDef="let element"> {{element.Placa}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
              <div style="display:flex; gap: 10px">
             <!--  <a (click)="selectUser(element); showBoton('editar'); openDialogEdit(element)">Editar</a> -->
              <button mat-button color="primary" (click)="selectUser(element); showBoton('editar'); openDialogEdit(element)">Editar</button>
              <button mat-button color="primary" (click)="selectUser(element); showBoton('editar'); openDialogEdit2(element)">bitacora</button>
              
              </div>
            </td> 
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
      </div>
    </div>
    <br>
      

    
    
    