   <!-- <div class="cls-botonera">

      <div>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      </div>

      <div class="cls-bonera-child">        
      <input type="text" placeholder="Edad" [(ngModel)] = "nombre">        
      <button (focus)="cambiarTitulo()" (blur)="devolvertitulo()" (click)="cambiarNombre()" mat-raised-button color="primary">Evento</button>
      </div>

    </div>  -->
    